.projects{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.project-list{
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-10px) scale(1);
}

.project-card.MuiPaper-root.MuiCard-root {
  background: none;
  border: 1px solid #ABB2BF;
  border-radius: 1px;
}

.project-card .MuiCardMedia-root {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.project-card:hover .MuiCardMedia-root {
  transform: translateY(-11.5px) scale(1.1);
}

.project-card .MuiCardContent-root{
  background: none;
  padding: 0;
  border-top: 1px solid #ABB2BF;
}

.project-card .MuiTypography-h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ebe9e9;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  padding: 10px 16px;
}

.project-card .MuiTypography-h7 {
  font-size: 16px;
  font-weight: 400;
  color: #ABB2BF;
  word-spacing: 10px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  border-bottom: 1px solid #ABB2BF;
  padding: 10px 16px;
}

.project-card:hover .MuiTypography-h7 {
  transform: translateY(-2px);
}

.project-card:hover .MuiTypography-h5 {
  transform: translateY(-2px);
}

.project-card .MuiTypography-body2 {
  font-size: 16px;
  font-weight: 400;
  color: #ABB2BF;
  word-spacing: 3px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  padding: 16px;
}

.project-card:hover .MuiTypography-body2 {
  transform: translateY(-2px);
}

.project-card .MuiCardActions-root {
  background: none;
  padding: 16px;
}

.project-card .MuiButton-root {
  border-radius: 1px;
  border: 1px solid #C778DD;
  color: rgb(255, 255, 255);
  height: 36px;
  padding: 0 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform, box-shadow;
}

.project-card .MuiButton-root:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px 5px 2px #c778dd29;
}

