.skill__content{
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.cardContent {
  color: #fff;
  border: 1px solid #ABB2BF;
  border-radius: 1px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardContent.MuiCardContent-root{
  padding: 0;
 ;
}

.title {
  padding: 0 2rem;
  margin-bottom: 8px;
  font-size: 1.5rem;
  border-bottom: 1px solid #ABB2BF;
}

.tools {
  padding: 0 2rem;
  font-size: .95rem;
  color: #aaa;
  word-spacing: 3px;
}

