.cardContent {
  max-width: 390px;
  color: #fff;
  border: 1px solid #ABB2BF;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 8px; /* 1 * 8px */
  font-size: 1.5rem;
}

.tools {
  font-size: 1.1rem;
  color: #aaa;
}

