.about__Section{
  margin-top: 3rem;
}

.about__content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.about__content > img {
  width: 343px;
 height: 500px;
}

.typography{
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  width: 515px;
  color: #ABB2BF;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
}

