
/* Styles for the default state of the navbar */
.navbar-default {
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-color: transparent;
}

/* Styles for the scrolled state of the navbar */
.navbar-scrolled {
  background-color: rgb(40, 44, 51); /* Or any desired color */
  padding: 10px 30px; /* Reduce padding when scrolled */
}

/* Optional: Add some margin to the sides */
.navbar-margin {
  margin: 0 15px; /* Adjust margin as needed */
}

.herosection{
 visibility: hidden;
}

.navlink {
  color: #ABB2BF;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlink:hover{
  color: white;
  translate: 0px 2px;
}

  .navlink:hover,
  .navlink.active {
    color: #C778DD;
  }
  
  .navlink.active {
    font-weight: bold;
  }
  
  @media (max-width: 1024px) {
    .navbar {
      padding-left: 24px; /* Adjust this value if needed */
    }
  }