@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

html,
body,
#root,
.app,
.content {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: #282C33;
  color: white;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

/*Track*/
::-webkit-scrollbar-track{
  background: #ABB2BF
}

/*handle*/
::-webkit-scrollbar-thumb{
  background: #ABB2BF;
}

/*Handle on hover*/
::-webkit-scrollbar-track:hover{
  background: #555;
}
